<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
    {{> ink }}
    {{> cornell}}
    </style>
</head>

<body>
    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>
                    <!-- CORNELL SEARCH AND BRANDING -->
                    <table class="row header">
                        <tr>
                            <td class="center" align="center">
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td class="wrapper last">
                                                <table class="twelve columns">
                                                    <tr>
                                                        <td class="six sub-columns">
                                                            <a href="http://cornell.edu">
                                                                <img src="http://includes.alumni.cornell.edu/email-assets/images/cu_logo_red.gif" alt="Cornell University Logo" width="169" height="45" border="0">
                                                            </a>
                                                        </td>
                                                        <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                                                            <a href="http://cornell.edu/search">
                                                                <img class="float-right" alt="Cornell University" src="http://media.univcomm.cornell.edu/email/core-assets/images/icons/search-40.png" height="17" width="17">
                                                            </a>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                            </td>
                        </tr>
                    </table>
                    <!-- // CORNELL SEARCH AND BRANDING -->

                    <!-- MAIN BODY -->
                    <table class="container">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <img class="full-width" alt="Cornell University campus overlooking Cayuga Lake" src="http://www.alumni.cornell.edu/events/email/images/baker-campus-fall.jpg">
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row colorBlock primary serif">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-pad">
                                                                    <h1 class="center">Here's a Heading</h1>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="main">
                                    <!-- MAIN -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-pad">
                                                                    <h2>Save the Date</h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, possimus non omnis deleniti, incidunt fugiat, numquam nostrum dolorem laborum sapiente placeat aspernatur distinctio cupiditate magnam.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // MAIN -->

                                    <!-- DIVIDER -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <hr/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // DIVIDER -->

                                    <!-- HEADING & PARAGRAPH -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-pad">
                                                                    <h2>You're Invited</h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <a href="#">reprehenderit in voluptate</a> velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // HEADING & PARAGRAPH -->
                                    
                                    <!-- TINY BUTTON -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last offset-by-three">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table class="tiny-button">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="#">.tiny-button.primary</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // TINY BUTTON -->

                                    <!-- REGULAR BUTTON -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last offset-by-three">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table class="button warning">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="#">.button.warning</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // REGULAR BUTTON -->

                                    <!-- MEDIUM BUTTON -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last offset-by-three">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table class="medium-button success">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="#">.medium-button.success</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // MEDIUM BUTTON -->

                                    <!-- LARGE BUTTON -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last offset-by-three">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table class="large-button danger">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="#">.large-button.danger</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // LARGE BUTTON -->

                                    <!-- DIVIDER -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <hr/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // DIVIDER -->

                                    <!-- HEADING & PARAGRAPH -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-pad">
                                                                    <h2>Schedule</h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <a href="#">reprehenderit in voluptate</a> velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // HEADING & PARAGRAPH -->

                                    <!-- MULTI-COLUMN -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                              <td class="six sub-columns left-text-pad">
                                                                <em>.six.sub-columns</em>
                                                              </td>
                                                              <td class="six sub-columns last right-text-pad">
                                                                <em>.six.sub-columns</em>
                                                              </td>
                                                              <td class="expander"></td>
                                                            </tr>
                                                            <tr>
                                                              <td class="left-text-pad">
                                                                6:30 p.m.
                                                              </td>
                                                              <td class="right-text-pad">
                                                                Happy Hour
                                                              </td>
                                                              <td></td>
                                                            </tr>
                                                            <tr>
                                                              <td class="left-text-pad">
                                                                7:30 p.m.
                                                              </td>
                                                              <td class="right-text-pad">
                                                                Intro Speaker
                                                              </td>
                                                              <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // MULTI-COLUMN -->

                                    <!-- DIVIDER -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <hr/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // DIVIDER -->

                                    <!-- HEADING & PARAGRAPH -->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-pad">
                                                                    <h2>Faculty Speakers & Bios</h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <a href="#">reprehenderit in voluptate</a> velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // HEADING & PARAGRAPH -->

                                    <!-- IMAGE WITH CAPTION-->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="left-text-pad">
                                                                    <img class="full-width" src="http://www.honeycomb.cornell.edu/images/open-enroll-250/sam.jpg" alt="">
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="wrapper last">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="right-text-pad">
                                                                    <h2><a href="">Lorem ipsum dolor</a></h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, repellendus.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // IMAGE WITH CAPTION -->

                                    <!-- IMAGE WITH CAPTION-->
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <td class="wrapper">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="left-text-pad">
                                                                    <img class="full-width" src="http://www.honeycomb.cornell.edu/images/open-enroll-250/sam.jpg" alt="">
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="wrapper last">
                                                    <table class="six columns">
                                                        <tbody>
                                                            <tr>
                                                                <td class="right-text-pad">
                                                                    <h2><a href="">Lorem ipsum dolor sit</a></h2>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, repellendus.</p>
                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // IMAGE WITH CAPTION -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- // MAIN BODY -->
                </center>
            </td>
        </tr>
    </table>
</body>

</html>